@model IEnumerable<ControlEquipo.BL.Computadora>

@{
    ViewBag.Title = "Index";
}

<h3 style="font-style:oblique; font-weight:bold">Computadoras</h3>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>
                Disponible: @Html.CheckBox("disponible")
            </td>

            <td>
                Tipo Computadora: @Html.DropDownList("tipoComputadoraId")
            </td>
            
            <td>
                <input type="submit" value="Filtrar" class="btn btn-warning" />
            </td>
        </tr>
        
        
    </table>
     


}

<table class="table table-hover table-responsive table-info">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.TipoComputadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hostname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirecionIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoComputadora.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hostname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirecionIP)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombres) @Html.DisplayFor(modelItem => item.Empleado.Apellidos) 
        </td>
       

        
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>

        <td>
            @Html.ActionLink("Editar", "Editar", "Computadoras", new { id = item.Id}, new { @class = "btn btn-danger" })
            @Html.ActionLink("Detalle", "Detalle", "Computadoras", new { id = item.Id }, new { @class = "btn btn-primary" })   
            @Html.ActionLink("Accesorios", "AccesoriosAsignados", "Computadoras", new { computadoraId = item.Id, empleadoId = 0 }, new { @class = "btn btn-success" })
        </td>
    </tr>

}

</table>
