@model IEnumerable<ControlEquipo.BL.Computadora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Computadora", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoComputadoraId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hostname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirecionIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcesadorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneracionProcesador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMemoriaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadAlmacenamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDiscoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtraInformacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimaActualiacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoComputadoraId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hostname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirecionIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcesadorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneracionProcesador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMemoriaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacidadAlmacenamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDiscoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtraInformacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimaActualiacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpleadoId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Detalle", new { id=item.Id })
        </td>
    </tr>
}

</table>
