@model ControlEquipo.BL.Empleado

@{
    ViewBag.Title = "Detalle";
}

<h3 style="font-style:oblique; font-weight:bold">Detalle de empleado</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oficina.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-warning" })
</p>
