@model IEnumerable<ControlEquipo.BL.Empleado>

@{
    ViewBag.Title = "Index";
}

<h3 style="font-style:oblique; font-weight:bold">Empleados</h3>

<p>
    @Html.ActionLink("Nuevo Empleado", "Crear", null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("nombre", null, new {size = "50", placeholder = "Buscar por nombre, apellido u oficina", autofocus = "autofocus" })
        <input type="submit" value="Buscar" class = "btn btn-warning", />
    </p>

    
}


<table class="table table-hover table-responsive table-info">
    <tr >
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Oficina)
        </th>
        <th class="success table-bordered">
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
       
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Area.Nombre)
        </td>
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Oficina.Nombre)
        </td>
        <td class="table-bordered">
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td class="table-bordered">
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Computadoras", "ComputadorasAsignadas", new { empleadoId = item.Id }, new { @class = "btn btn-success" })
       </td>
    </tr>
}

</table>

