@model IEnumerable<ControlEquipo.BL.TipoAccesorio>

@{
    ViewBag.Title = "Index";
}

<h3 style="font-style:oblique; font-weight:bold">Tipos de accesorio</h3>

<p>
    @Html.ActionLink("Nuevo Tipo de Accesorio", "Crear", null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover table-responsive table-info">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
